@using Microsoft.AspNetCore.Identity
@using SmartGrocery.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown">
        <a class="btn btn-outline-light dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i> @User.Identity?.Name
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                    <i class="bi bi-gear"></i> Profile
                </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                    <button type="submit" class="dropdown-item text-danger">
                        <i class="bi bi-box-arrow-right"></i> Logout
                    </button>
                </form>
            </li>
        </ul>
    </div>
}
else
{
    <div class="d-flex gap-2">
        <a class="btn btn-outline-light" asp-area="Identity" asp-page="/Account/Login">
            <i class="bi bi-box-arrow-in-right"></i> Login
        </a>
        <a class="btn btn-warning text-dark fw-semibold" asp-area="Identity" asp-page="/Account/Register">
            <i class="bi bi-person-plus"></i> Register
        </a>
    </div>
}
